@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Regular.ttf'),
  url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Medium.ttf'),
  url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Medium.ttf')  format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-SemiBold.ttf'),
  url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-SemiBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Bold.ttf'),
  url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-ExtraBold.ttf'),
  url('https://cdn02.plentymarkets.com/mrt54q44tptl/frontend/Gonser/fonts/OpenSans-ExtraBold.ttf')  format('truetype')
}
